
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }
  
  .r-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: linear-gradient(125deg,#5b6467,#485461); 
    /* background-color: #545454 */
  }
  .r-inner {
    width: 450px;
    margin: auto;
    background-color: #efecf2;
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
    padding: 40px 55px 45px 55px;
    border-radius: 15px;
    transition: all .3s;
  }
  form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
    padding-bottom: 1rem;
  }
  
.r-container .r-inner .r-form {
    width: 100%;
    height: 100%;
    display: flex;
  }
  
  .r-danger {
    display: none
  }
  
  .r-input_text {
    position: relative;
    margin-top: 20px
  }
  
  input[type="text"] {
    height: 45px;
    width: 100%;
    border: none;
    outline: 0;
    padding: 0 10px;
    font-size: 13px;
    border-radius: 10px;
    border: 1px solid #fff
  }
  
  input[type="password"] {
    height: 45px;
    width: 100%;
    border: none;
    outline: 0;
    padding: 0 10px;
    font-size: 13px;
    border-radius: 10px;
    padding-right: 33px;
    border: 1px solid #fff
  }
  
  .r-warning {
    border: 1px solid red !important
  }
  
  .r-btn {
    margin-top: 15px
  }
  .r-btn button {
    height: 45px;
    width: 100%;
    border: none;
    outline: 0;
    background-color: #fe6b68;
    border-radius: 10px;
    transition: all 0.5s;
    cursor: pointer;
    font-size: 13px;
    color: #fff
  }
  
  .r-btn button:hover {
    background-color: #f1221e
  }