input[type="text"] {
    width: 100%;
    outline: 0;
    padding: 0 10px;
    font-size: 13px;
}

input[type="password"] {
    width: 100%;
    outline: 0;
    padding: 0 10px;
    font-size: 13px;
}