.pf-bg-container {
  background-color: #e9ecef;
  /* background-color: whitesmoke; */
}
.pf-container {
  min-width: 100%;
  display: block;
  min-height: 800px;
}
.table-wrapper {
  min-height: 100px;
  overflow: auto;
  display: inline-block;
}
.searchBoxRow {
  align-items: center;
  justify-content: flex-end;
}
