.pf-bg-container {
  background-color: #e9ecef;
}
.pf-container {
  min-width: 100%;
  display: block;
  min-height: 800px;
}
.table-wrapper {
  min-height: 100px;
  overflow: auto;
  display: inline-block;
}
